PORT = 5001

RABBITMQ_HOST=localhost

RABBITMQ_USERNAME=admin

RABBITMQ_PASSWORD=admin123

EMAIL_USER=tanishagoyal2468@gmail.com
EMAIL_PASS=zkeicaczicfmvjve

RESEND_API_KEY=re_KaAERa32_LDibBz3CVrAmZK26vHH9aWGH